*.iml
.idea/
.ipr
.iws
*~
~*
*.diff
*.patch
*.bak
Thumbs.db
.project
.*proj
.svn/
dist
dist.tar
*.swp
*.swo
*.log
.buildpath
.settings
.DS_Store
node_modules/
npm-debug.log
selenium-debug.log
test/unit/coverage
test/e2e/reports%
.gradle/
build/
